@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.body{
  font-family: 'Noto Serif', serif;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__titulo{
  text-align: center;
  color: var(--color-title);
}

.header{
  display: flex;
  justify-content: center;
}

.main{
  display: grid;
  width: 100vw;
  height: 90vh;
  grid-template-columns: 800px 200px;
  grid-template-rows: auto;
  grid-template-areas: 
  "header main__section--output"
  "main__section--input main__section--output";
  justify-content: center;
  gap: 80px;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-title);
}

.header{
  grid-area: header;
  justify-self: center;
}

.main__section--input{
  grid-area: main__section--input;
  justify-self: center;
}

.main__section--output{
  grid-area: main__section--output;
  justify-self: center;
  padding-top: 20px;
}

.section__input{
 width: 600px;
 height: 300px;
 background-color: var(--color-background--input);
}

.section__output{
  width: 300px;
  height: 100%;
  background-image: url(../assets/img_encriptador.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textarea{
  padding: 10px; 
  border: 2.5px solid var(--color-border);
  color: var(--color-title);
  border-radius: 10px;
  outline: none;
  resize: none;
}

.textarea::-webkit-scrollbar{
  width: 0px;
}

.button{
  background-color: var(--color-button);
  color: var(--color-title);
  width: 120px;
  height: 37px;
  border: 0;
  border-radius: 10px;
}

.button:hover{
  background-color: var(--color-button-hover);
}

.section__butons{
  display: flex;
  justify-content: space-around;
}

.section__button--copiar{
  align-self: center;
}

.footer{
  color: var(--color-title);
  display: flex;
  flex-direction: column;
}

.div__footer{
  align-self: center;
}

.bx{
  margin-right: 10px;
  font-size: 20px;
  color: white;
}

.bxl-github:hover{
  color: var(--color-github--hover);
}

.bxl-linkedin-square:hover{
  color:var(--color-linkedin--hover);
}
