:root{
  --color-background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(5,94,100,1) 60%);
  --color-title: rgba(255, 255, 255, 0.8);
  --color-border:#1bc9ba;
  --color-button: #eb994c;
  --color-button-hover: #e5b17f;
  --color-background--input: rgba(5,94,100,0.5);
  --color-github--hover: #eba25b;
  --color-linkedin--hover: #2593df;
}

